* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align:center;
  min-height: 100vh;
  margin: 0;
  overflow:hidden;
}

.placeholder {
  color: tomato;
  border: 3px solid
}