.banner-homepage {
  position: relative;
  overflow: hidden;

}
.hero-banner {
  max-width: 100vw;
  filter:brightness(70%);

}

.bags-logo {
  max-width: 40%;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20%;
}



.intro-section {
  min-height: 80vh;
  background-color: rgb(241, 241, 241);
}

.details-section {
  max-width: 100vw;
}

.box-text {
  background-color: white;
  opacity: .85;
  font-weight: bold;
  border-radius:5px;
  margin: auto;
  margin-top: 150px;
  width: 85%;

}

.end-section {
  background-color:whitesmoke;
  padding: 40px;
  min-height: 60vh;
  background-image: url("/photos/sf-hill-shot.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}