.project-card {
  margin: auto;
  border: 1px solid white;
  transition: 400ms all;
  filter:brightness(50%);
  /* overflow: hidden; */
}

.project-card-img {
  max-width: 100%;
  filter: sepia(30%);

}

.project-card:hover {
  cursor: pointer;
  filter:brightness(100%);
}
